.container2 {
  margin-top: 16px;
}

.container1 {
  margin-top: 16px;
  display: flex;
  column-gap: 8px;
  overflow-x: scroll;
}

.card {
  border: 1px solid silver;
  border-radius: 8px;
  padding: 12px 14px;
  min-width: 200px;
}

.cnInput {
  padding: 4px 8px;
  border: 1px solid blue;
  border-radius: 6px;
}

.cnLabel {
  margin-right: 8px;
}

.cnButton {
  margin-left: 16px;
  padding: 4px 8px;
  border: 1px solid silver;
  cursor: pointer;
}
