

.sauc-menu {
  --width: 320px;
  --width2: -320px;

  display: inline-flex;
  flex-direction: column;

  .fade-enter-active {
    transform: translateX(var(--width2));
  }
  .fade-enter-done {
    border: 1px solid green !important;
    transform: translateX(0px);
    transition: transform 500ms;
  }
  .fade-exit-active {
    transform: translateX(var(--width2));
  }
  .fade-exit-done {
    border: 1px solid green !important;
    transform: translateX(0px);
    transition: transform 500ms;
  }

  .sauc-menu__btn {

  }

  .sauc-dropdown {
    flex-direction: column;
    row-gap: 8px;
    border: 1px solid silver;
    border-radius: 8px;
    padding: 8px 8px;
    min-width: var(--width);
    margin-top: 6px;
    display: inline-flex;

    &.sauc-dropdown-enter-done {
    }

    .sauc-dropdown__elem {
      display: flex;
      align-items: center;
      column-gap: 8px;
      border: 1px solid silver;
      border-radius: 8px;
      padding: 0 8px;
      cursor: pointer;

      .elem__icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
      }

      .elem__body {
        flex-grow: 1;
      }

      .elem__icon-sub {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;

        }
      }
    }
  }

  .sauc-menu__back-item {
    display: flex;
    cursor: pointer;
  }
}
