.br-select {
  border: 1px solid silver;
  border-radius: 8px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 0.9rem;

  .br-select-block__select {
    cursor: pointer;
    width: 180px;
    background-color: transparent;
    text-overflow: ellipsis;

    .br-select-block__option {
        padding: 0 8px;
    }
  }
}
