.a-icon {
  width: 32px;
  height: 32px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: #d0cccc;
  padding: 2px;

  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }

}

.a-bar {
  border: 1px solid silver;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 4px 8px;
}
