.a-icon {
  width: 32px;
  height: 32px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: #d0cccc;
  padding: 2px;

  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }

}
