.mssc-base {
  --color1: white;

  background-color: var(--color1);

  .mssc-base__error {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid red;
    border-radius: 8px;
    color: red;
    padding: 8px 16px;
    background-color: white;
  }

  .mssc-base__list {
    border: 1px solid silver;
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .mssc-base__info-block {
      border: 1px solid silver;
      border-radius: 8px;
      padding: 8px;
      display: flex;
      column-gap: 12px;
    }

    .mssc-base__body {
      display: flex;
      column-gap: 32px;

      .mssc-body__buttons {
        display: flex;
        column-gap: 16px;
      }

      .mssc-body__sort-filter-container {
        display: flex;
        column-gap: 8px;
      }
    }

    .mssc-list-block {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      .mssc-list-elem {
        border: 1px solid transparent;
        border-radius: 8px;
        display: flex;
        align-items: center;
        min-height: 48px;

        &_active {
          border-color: rgba(255, 0, 0, 0.63);
          border-style: dashed;
        }

        .mssc-list-elem__checkbox {
          padding: 0 8px 0 8px;
        }

        .mssc-list-elem__body {
          flex-grow: 1;
        }

        .mssc-list-elem__menu {
          padding: 0 8px 0 8px;
        }
      }
    }

    .msscPaginatorBlock {
      display: flex;
      column-gap: 8px;
      font-family: monospace;
      align-items: center;

      .msscPaginatorBlock_num {

      }

      .msscButton2 {
        border: 1px solid silver;
        border-radius: 6px;
        font-family: monospace;
        width: 36px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .msscButton {
        border: 1px solid silver;
        border-radius: 6px;
        padding: 0 8px;
        font-family: monospace;
        width: 36px;
        height: 24px;

        &:disabled {
          color: silver;
        }

      }
    }
  }

}



