.zvaz-cudelem-container {
  border: 1px solid black;
  background-color: lightyellow;
  padding: 8px;
  width: 50%;

  .form-container {
    margin-top: 8px;

    .card-id {
      color: red;
    }
  }
}

